<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       ">
	
	<description>全局配置，跟平台和部署无关</description>
	
	<!-- 自动注入 -->
	<context:component-scan base-package="com.centaline.**.mapper,com.centaline.**.service"/>
	
	<!-- 加载属性配置文件 -->
	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:jdbc.properties</value>
			</list>
		</property>
	</bean> -->
	
	<!-- 配置数据库 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
	
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/cms"/>
		<property name="username" value="root"/>
		<property name="password" value="111111"/>
		
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="5" />
		<!-- 连接池最大使用连接数量 -->
		<property name="maxActive" value="20" />
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="20"/>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="0" />
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="60000" />
		
		<property name="validationQuery" value="SELECT 1" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="testWhileIdle" value="true" />
		
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="25200000" />
		
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="true" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="1800" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="true" />
		
		<!-- 监控数据库 -->
		<property name="filters" value="mergeStat" />
	</bean>
	
	<!-- 配置hibernate session工厂 -->
	<!-- 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
				<prop key="hibernate.cache.use_second_level_cache">${hibernate.second_level_cache}</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.centaline.**.model</value>
			</list>
		</property>
	</bean>
	 -->
	
	 <!-- MyBatis 配置 -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath*:com/centaline/**/mapper/xml/*.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.centaline.**.mapper" />
		<property name="sqlSessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	 -->
	
	<!-- 配置事物 -->
	<!-- 
	<bean name="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	 -->
	 <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 事物处理规则 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	 	<tx:attributes>
	 		<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>
	 		<tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception"/>
	 		<tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception"/>
	 		<tx:method name="*" propagation="REQUIRED" read-only="true" rollback-for="Exception"/>
	 	</tx:attributes>
	 </tx:advice>
	 
	 <!-- aop拦截 -->
	 <aop:config expose-proxy="true">
	    <!-- 只对业务逻辑层实施事务 -->
	 	<aop:pointcut id="txPointcut" expression="execution(* com.centaline..service.*+.*(..))" />
	 	<!-- Advisor定义，切入点和通知分别为txPointcut、txAdvice -->
	 	<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
	 </aop:config>
	 
	<tx:annotation-driven transaction-manager="transactionManager"  proxy-target-class="true" />
	
	<!-- BEGIN 配置_Druid和Spring关联监控配置 -->
	<!-- 
	<bean id="druidStatInterceptor"  class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor"/>
    <aop:config>
        <aop:advisor id="druidAdvisor" advice-ref="druidStatInterceptor" pointcut="execution(* com.centaline..service.*+.*(..))" />
    </aop:config>
	 -->
    <!-- END 配置_Druid和Spring关联监控配置 -->
    <!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找 --> 
                <value>classpath:properties/exception</value>
                <!-- <value>classpath:ValidationMessages</value> -->
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>
    <!-- 
    <bean id="baseDao" class="com.centaline.core.dao.Impl.BaseDaoImpl">
    	<property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
     -->
</beans>